In [11]:
# Import dependencies
import pandas as pd
import numpy as np

In [12]:
# Reference to CSV and reading CSV into Pandas DataFrame

csv_path = "raw_data/schools_complete.csv"
schools_ratings_df = pd.read_csv(csv_path, low_memory=False)
schools_ratings_df.head(10)

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
5          5     Wilson High School   Charter  2283  1319574
6          6    Cabrera High School   Charter  1858  1081356
7          7     Bailey High School  District  4976  3124928
8          8     Holden High School   Charter   427   248087
9          9       Pena High School   Charter   962   585858

In [211]:
# Inspect all columns
schools_ratings_df.columns

Index(['School ID', 'name', 'type', 'size', 'budget'], dtype='object')

In [15]:
print("District Summary\n")
total_schools = len(schools_ratings_df)
print("Total_Schools = " + str(total_schools))

District Summary

Total_Schools = 15

In [16]:
total_students = schools_ratings_df['size'].sum()
total_budget = schools_ratings_df['budget'].sum()

In [20]:
print("Total_Students = " + str(total_students))
print("Total_Budget = " + str(total_budget))

Total_Students = 39170
Total_Budget = 24649428

In [22]:
csv_path2 = "raw_data/students_complete.csv"
students_ratings_df = pd.read_csv(csv_path2, low_memory = False)
students_ratings_df.head(10)

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [23]:
math_score_ave = students_ratings_df['math_score'].mean()
math_score_ave

78.98537145774827

In [24]:
reading_score_ave = students_ratings_df['reading_score'].mean()
reading_score_ave

81.87784018381414

In [101]:
print("Average Math Score: " + str(math_score_ave))
print("Average Reading Score: " + str(reading_score_ave))

Average Math Score: 78.98537145774827
Average Reading Score: 81.87784018381414

In [72]:
bins = [0, 65, 100]
group_names = ['Fail', 'Pass']
pd.cut(students_ratings_df["math_score"], bins, labels = group_names)

0        Pass
1        Fail
2        Fail
3        Fail
4        Pass
5        Pass
6        Pass
7        Pass
8        Pass
9        Pass
10       Pass
11       Pass
12       Pass
13       Pass
14       Pass
15       Pass
16       Fail
17       Pass
18       Pass
19       Pass
20       Pass
21       Pass
22       Pass
23       Pass
24       Pass
25       Pass
26       Pass
27       Fail
28       Fail
29       Pass
         ...
39140    Pass
39141    Pass
39142    Pass
39143    Pass
39144    Pass
39145    Pass
39146    Pass
39147    Pass
39148    Pass
39149    Pass
39150    Pass
39151    Pass
39152    Pass
39153    Pass
39154    Pass
39155    Pass
39156    Pass
39157    Pass
39158    Pass
39159    Pass
39160    Pass
39161    Pass
39162    Pass
39163    Pass
39164    Pass
39165    Pass
39166    Pass
39167    Pass
39168    Pass
39169    Pass
Name: math_score, Length: 39170, dtype: category
Categories (2, object): [Fail < Pass]

In [29]:
students_ratings_df["Math Score Summary"] = pd.cut(students_ratings_df["math_score"], bins, labels = group_names)
students_ratings_df

,Student ID,name,gender,grade,school,reading_score,math_score,Math Score Summary
0,0,Paul Bradley,M,9th,Huang High School,66,79,Pass
1,1,Victor Smith,M,12th,Huang High School,94,61,Fail
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Fail
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Fail
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Pass
5,5,Bryan Miranda,M,9th,Huang High School,94,94,Pass
6,6,Sheena Carter,F,11th,Huang High School,82,80,Pass
7,7,Nicole Baker,F,12th,Huang High School,96,69,Pass
8,8,Michael Roth,M,10th,Huang High School,95,87,Pass
9,9,Matthew Greene,M,10th,Huang High School,96,84,Pass
10,10,Andrew Alexander,M,10th,Huang High School,90,70,Pass
11,11,Daniel Cooper,M,10th,Huang High School,78,77,Pass
12,12,Brittney Walker,F,9th,Huang High School,64,79,Pass
13,13,William Long,M,9th,Huang High School,71,79,Pass
14,14,Tammy Hebert,F,10th,Huang High School,85,67,Pass
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,Pass
16,16,Donald Zamora,M,9th,Huang High School,88,55,Fail
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,Pass
18,18,Kevin Stevens,M,9th,Huang High School,64,69,Pass
19,19,Brandi Lyons,F,9th,Huang High School,89,80,Pass
20,20,Lisa Davis,F,10th,Huang High School,91,89,Pass
21,21,Kristen Lopez,F,10th,Huang High School,90,77,Pass
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,Pass
23,23,Christopher Parker,M,9th,Huang High School,81,68,Pass
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,Pass
25,25,Cesar Morris,M,9th,Huang High School,92,70,Pass
26,26,Melanie Decker,F,9th,Huang High School,63,85,Pass
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,Fail
28,28,Kelly James,F,11th,Huang High School,73,55,Fail
29,29,Nicole Brown,F,12th,Huang High School,90,88,Pass
...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,Pass
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,Pass
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,Pass
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,Pass
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,Pass
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,Pass
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,Pass
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,Pass
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,Pass
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,Pass
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,Pass
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,Pass
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,Pass
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,Pass
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,Pass
39155,39155,John Brooks,M,10th,Thomas High School,92,98,Pass
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,Pass
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,Pass
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,Pass
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,Pass
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,Pass
39161,39161,April Reyes,F,10th,Thomas High School,70,84,Pass
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,Pass
39163,39163,John Reese,M,11th,Thomas High School,90,75,Pass
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,Pass
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,Pass
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,Pass
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Pass
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,Pass
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Pass

In [30]:
students_ratings_df["Math Score Summary"].value_counts()

Pass    32555
Fail     6615
Name: Math Score Summary, dtype: int64

In [32]:
percentage_math = students_ratings_df["Math Score Summary"].value_counts() / total_students * 100
percentage_math = round(percentage_math, 2)

In [33]:
percentage_math

Pass    83.11
Fail    16.89
Name: Math Score Summary, dtype: float64

In [34]:
print("% Passing Math: " + str(percentage_math))

% Passing Math: Pass    83.11
Fail    16.89
Name: Math Score Summary, dtype: float64

In [77]:
pd.cut(students_ratings_df["reading_score"], bins, labels = group_names)
students_ratings_df["Reading Score Summary"] = pd.cut(students_ratings_df["reading_score"], bins, labels = group_names)
students_ratings_df

,Student ID,name,gender,grade,school,reading_score,math_score,Math Score Summary,Reading Score Summary
0,0,Paul Bradley,M,9th,Huang High School,66,79,Pass,Pass
1,1,Victor Smith,M,12th,Huang High School,94,61,Fail,Pass
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Fail,Pass
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Fail,Pass
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Pass,Pass
5,5,Bryan Miranda,M,9th,Huang High School,94,94,Pass,Pass
6,6,Sheena Carter,F,11th,Huang High School,82,80,Pass,Pass
7,7,Nicole Baker,F,12th,Huang High School,96,69,Pass,Pass
8,8,Michael Roth,M,10th,Huang High School,95,87,Pass,Pass
9,9,Matthew Greene,M,10th,Huang High School,96,84,Pass,Pass
10,10,Andrew Alexander,M,10th,Huang High School,90,70,Pass,Pass
11,11,Daniel Cooper,M,10th,Huang High School,78,77,Pass,Pass
12,12,Brittney Walker,F,9th,Huang High School,64,79,Pass,Fail
13,13,William Long,M,9th,Huang High School,71,79,Pass,Pass
14,14,Tammy Hebert,F,10th,Huang High School,85,67,Pass,Pass
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,Pass,Pass
16,16,Donald Zamora,M,9th,Huang High School,88,55,Fail,Pass
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,Pass,Pass
18,18,Kevin Stevens,M,9th,Huang High School,64,69,Pass,Fail
19,19,Brandi Lyons,F,9th,Huang High School,89,80,Pass,Pass
20,20,Lisa Davis,F,10th,Huang High School,91,89,Pass,Pass
21,21,Kristen Lopez,F,10th,Huang High School,90,77,Pass,Pass
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,Pass,Pass
23,23,Christopher Parker,M,9th,Huang High School,81,68,Pass,Pass
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,Pass,Pass
25,25,Cesar Morris,M,9th,Huang High School,92,70,Pass,Pass
26,26,Melanie Decker,F,9th,Huang High School,63,85,Pass,Fail
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,Fail,Pass
28,28,Kelly James,F,11th,Huang High School,73,55,Fail,Pass
29,29,Nicole Brown,F,12th,Huang High School,90,88,Pass,Pass
...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,Pass,Pass
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,Pass,Pass
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,Pass,Pass
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,Pass,Pass
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,Pass,Pass
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,Pass,Pass
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,Pass,Pass
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,Pass,Pass
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,Pass,Pass
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,Pass,Pass
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,Pass,Pass
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,Pass,Pass
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,Pass,Pass
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,Pass,Pass
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,Pass,Pass
39155,39155,John Brooks,M,10th,Thomas High School,92,98,Pass,Pass
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,Pass,Pass
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,Pass,Pass
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,Pass,Pass
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,Pass,Pass
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,Pass,Pass
39161,39161,April Reyes,F,10th,Thomas High School,70,84,Pass,Pass
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,Pass,Pass
39163,39163,John Reese,M,11th,Thomas High School,90,75,Pass,Pass
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,Pass,Pass
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,Pass,Pass
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,Pass,Pass
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Pass,Pass
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,Pass,Pass
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Pass,Pass

In [78]:
students_ratings_df["Reading Score Summary"].value_counts()

Pass    36923
Fail     2247
Name: Reading Score Summary, dtype: int64

In [80]:
percentage_reading = students_ratings_df["Reading Score Summary"].value_counts() / total_students * 100
percentage_reading = round(percentage_reading, 2)

In [95]:
print("% Passing Reading: " + str(percentage_reading))

% Passing Reading: Pass    94.26
Fail     5.74
Name: Reading Score Summary, dtype: float64

In [101]:
overall_percentage = round((percentage_reading + percentage_math) / 2, 2)
print("% Passing Overall: " + str(overall_percentage["Pass"]))

% Passing Overall: 88.68

In [57]:
Dist_summ1_file_out_df = pd.DataFrame({"Total_Schools " : [total_schools], "Total_Students " : [total_students], "Total_Budget " : [total_budget], "Average Math Score " : [math_score_ave], "Average Reading Score " : [reading_score_ave]})

In [58]:
Dist_summ1_file_out_df

,Average Math Score,Average Reading Score,Total_Budget,Total_Schools,Total_Students
0,78.985371,81.87784,24649428,15,39170

In [102]:
Dist_summ2_file_out_df = pd.DataFrame({"% Passing Math " : [str(percentage_math["Pass"])], "% Passing Reading " : [str(percentage_reading["Pass"])], "% Passing Overall " : [str(overall_percentage["Pass"])]})

In [103]:
Dist_summ1_file_out_df.to_csv("fileOut1.csv", index=False, header=True)

In [104]:
Dist_summ2_file_out_df

  % Passing Math  % Passing Overall  % Passing Reading
0           83.11              88.68              94.26

In [100]:
Dist_summ2_file_out_df.to_csv("fileOut2.csv", index=False, header=True)

In [69]:
print("School Summary\n")

School Summary

In [48]:
schools_ratings_new_df= schools_ratings_df.set_index("name")
schools_ratings_new_df.head()

                       School ID      type  size   budget
name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500

In [70]:
schools_ratings_new_df.count()

School ID    15
type         15
size         15
budget       15
dtype: int64

In [88]:
schools_ratings_new_df = schools_ratings_new_df.rename(columns = {"type": "School Type", "size": "Total Sudents", "budget": "School Budget"})

In [89]:
schools_ratings_new_df

                       School ID School Type  Total Sudents  School Budget
name
Huang High School              0    District           2917        1910635
Figueroa High School           1    District           2949        1884411
Shelton High School            2     Charter           1761        1056600
Hernandez High School          3    District           4635        3022020
Griffin High School            4     Charter           1468         917500
Wilson High School             5     Charter           2283        1319574
Cabrera High School            6     Charter           1858        1081356
Bailey High School             7    District           4976        3124928
Holden High School             8     Charter            427         248087
Pena High School               9     Charter            962         585858
Wright High School            10     Charter           1800        1049400
Rodriguez High School         11    District           3999        2547363
Johnson High School           12    District           4761        3094650
Ford High School              13    District           2739        1763916
Thomas High School            14     Charter           1635        1043130

In [83]:
per_school_budget = total_budget / total_schools
print("Per School Budget: " + str(per_school_budget))

Per School Budget: 1643295.2

In [159]:
gstd_count_per_school_df = grouped_students_ratings_df.count()
gstd_count_per_school_df

,Student ID,name,gender,grade,reading_score,math_score,Math Score Summary,Reading Score Summary
school,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800

In [111]:
grouped_students_ratings_df = students_ratings_df.groupby(["school"])
grouped_students_ratings_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score,Math Score Summary,Reading Score Summary
0,0,Paul Bradley,M,9th,Huang High School,66,79,Pass,Pass
1,1,Victor Smith,M,12th,Huang High School,94,61,Fail,Pass
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Fail,Pass
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Fail,Pass
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Pass,Pass
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,Pass,Pass
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84,Pass,Pass
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77,Pass,Pass
2920,2920,Jennifer Brown,F,9th,Figueroa High School,97,64,Fail,Pass
2921,2921,Denise Lopez,F,10th,Figueroa High School,79,64,Fail,Pass
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,Pass,Pass
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,Pass,Pass
5868,5868,Todd Barber,M,11th,Shelton High School,95,99,Pass,Pass
5869,5869,Desiree King,F,12th,Shelton High School,76,95,Pass,Pass
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,Pass,Pass
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88,Pass,Pass
7628,7628,Timothy Walker,M,12th,Hernandez High School,97,93,Pass,Pass
7629,7629,Katie Johnston,F,12th,Hernandez High School,83,81,Pass,Pass
7630,7630,Joann Oconnell,F,12th,Hernandez High School,77,91,Pass,Pass
7631,7631,Sarah Alexander,F,10th,Hernandez High School,84,93,Pass,Pass
12262,12262,Heather Wright,F,11th,Griffin High School,79,68,Pass,Pass
12263,12263,Elizabeth Goodwin,F,10th,Griffin High School,91,81,Pass,Pass
12264,12264,Michelle Wong,F,9th,Griffin High School,78,89,Pass,Pass
12265,12265,Scott Roth MD,M,11th,Griffin High School,91,85,Pass,Pass
12266,12266,Billy Wilson,M,12th,Griffin High School,76,83,Pass,Pass
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71,Pass,Pass
13731,13731,Russell Ramirez,M,10th,Wilson High School,72,87,Pass,Pass
13732,13732,Eric Butler,M,10th,Wilson High School,97,82,Pass,Pass
13733,13733,Warren Kerr,M,11th,Wilson High School,93,68,Pass,Pass
13734,13734,Gail Hall,F,9th,Wilson High School,79,72,Pass,Pass
...,...,...,...,...,...,...,...,...,...
23274,23274,Alec Davis,M,9th,Pena High School,91,75,Pass,Pass
23275,23275,Michael Meyer,M,10th,Pena High School,94,76,Pass,Pass
23276,23276,Donald Gutierrez,M,11th,Pena High School,98,91,Pass,Pass
23277,23277,Travis Chavez,M,11th,Pena High School,78,71,Pass,Pass
23278,23278,Sheena Ball,F,12th,Pena High School,87,92,Pass,Pass
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72,Pass,Pass
24237,24237,Kimberly Hamilton,F,10th,Wright High School,84,93,Pass,Pass
24238,24238,Ashley Johns,F,10th,Wright High School,88,88,Pass,Pass
24239,24239,Stephanie Donovan,F,10th,Wright High School,75,84,Pass,Pass
24240,24240,Cynthia Guzman,F,11th,Wright High School,93,82,Pass,Pass
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,Pass,Pass
26037,26037,Kimberly Calderon,F,10th,Rodriguez High School,80,86,Pass,Pass
26038,26038,William Brady,M,11th,Rodriguez High School,97,62,Fail,Pass
26039,26039,Jacob Padilla,M,11th,Rodriguez High School,79,73,Pass,Pass
26040,26040,Paula Maldonado,F,10th,Rodriguez High School,96,92,Pass,Pass
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87,Pass,Pass
30036,30036,Jessica Lopez,F,9th,Johnson High School,98,62,Fail,Pass
30037,30037,Anna Wilkins,F,11th,Johnson High School,89,77,Pass,Pass
30038,30038,Andrew Smith,M,9th,Johnson High School,66,85,Pass,Pass
30039,30039,Robert Allison,M,11th,Johnson High School,63,85,Pass,Fail
34796,34796,Michael Mercado,M,9th,Ford High School,66,94,Pass,Pass
34797,34797,Stephen Wolf,M,11th,Ford High School,68,63,Fail,Pass
34798,34798,Bonnie Hughes,F,12th,Ford High School,73,59,Fail,Pass
34799,34799,Melissa Smith,F,11th,Ford High School,88,58,Fail,Pass
34800,34800,Brian Mitchell,M,10th,Ford High School,96,55,Fail,Pass
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,Pass,Pass
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,Pass,Pass
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,Pass,Pass
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,Pass,Pass
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,Pass,Pass

In [128]:
gmath_mean = grouped_students_ratings_df["math_score"].mean()
gread_mean = grouped_students_ratings_df["reading_score"].mean()

In [129]:
overall_mean = (gmath_mean + gread_mean) / 2
overall_mean

school
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

In [121]:
print("Average Math Score: " + str(gmath_mean))

Average Math Score: school
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [122]:
print("Average Reading Score: " + str(gread_mean))

Average Reading Score: school
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [123]:
gmath_mean_df = pd.DataFrame({"Average Math Score": gmath_mean})
gmath_mean_df

                       Average Math Score
school
Bailey High School              77.048432
Cabrera High School             83.061895
Figueroa High School            76.711767
Ford High School                77.102592
Griffin High School             83.351499
Hernandez High School           77.289752
Holden High School              83.803279
Huang High School               76.629414
Johnson High School             77.072464
Pena High School                83.839917
Rodriguez High School           76.842711
Shelton High School             83.359455
Thomas High School              83.418349
Wilson High School              83.274201
Wright High School              83.682222

In [124]:
gread_mean_df = pd.DataFrame({"Average Reading Score": gread_mean})
gread_mean_df

                       Average Reading Score
school
Bailey High School                 81.033963
Cabrera High School                83.975780
Figueroa High School               81.158020
Ford High School                   80.746258
Griffin High School                83.816757
Hernandez High School              80.934412
Holden High School                 83.814988
Huang High School                  81.182722
Johnson High School                80.966394
Pena High School                   84.044699
Rodriguez High School              80.744686
Shelton High School                83.725724
Thomas High School                 83.848930
Wilson High School                 83.989488
Wright High School                 83.955000

In [164]:
gmath_passfail = grouped_students_ratings_df["Math Score Summary"].value_counts()
gmath_passfail

school                 Math Score Summary
Bailey High School     Pass                  3762
                       Fail                  1214
Cabrera High School    Pass                  1858
Figueroa High School   Pass                  2208
                       Fail                   741
Ford High School       Pass                  2087
                       Fail                   652
Griffin High School    Pass                  1468
Hernandez High School  Pass                  3498
                       Fail                  1137
Holden High School     Pass                   427
Huang High School      Pass                  2196
                       Fail                   721
Johnson High School    Pass                  3589
                       Fail                  1172
Pena High School       Pass                   962
Rodriguez High School  Pass                  3021
                       Fail                   978
Shelton High School    Pass                  1761
Thomas High School     Pass                  1635
Wilson High School     Pass                  2283
Wright High School     Pass                  1800
Name: Math Score Summary, dtype: int64

In [140]:
gread_passfail = grouped_students_ratings_df["Reading Score Summary"].value_counts()
gread_passfail

school                 Reading Score Summary
Bailey High School     Pass                     4573
                       Fail                      403
Cabrera High School    Pass                     1858
Figueroa High School   Pass                     2710
                       Fail                      239
Ford High School       Pass                     2487
                       Fail                      252
Griffin High School    Pass                     1468
Hernandez High School  Pass                     4239
                       Fail                      396
Holden High School     Pass                      427
Huang High School      Pass                     2677
                       Fail                      240
Johnson High School    Pass                     4383
                       Fail                      378
Pena High School       Pass                      962
Rodriguez High School  Pass                     3660
                       Fail                      339
Shelton High School    Pass                     1761
Thomas High School     Pass                     1635
Wilson High School     Pass                     2283
Wright High School     Pass                     1800
Name: Reading Score Summary, dtype: int64

In [171]:
gmath_passfail_df =  pd.DataFrame({"Number of Pass-Fail": gmath_passfail})
gmath_passfail_df

                                          Number of Pass-Fail
school                Math Score Summary
Bailey High School    Pass                               3762
                      Fail                               1214
Cabrera High School   Pass                               1858
Figueroa High School  Pass                               2208
                      Fail                                741
Ford High School      Pass                               2087
                      Fail                                652
Griffin High School   Pass                               1468
Hernandez High School Pass                               3498
                      Fail                               1137
Holden High School    Pass                                427
Huang High School     Pass                               2196
                      Fail                                721
Johnson High School   Pass                               3589
                      Fail                               1172
Pena High School      Pass                                962
Rodriguez High School Pass                               3021
                      Fail                                978
Shelton High School   Pass                               1761
Thomas High School    Pass                               1635
Wilson High School    Pass                               2283
Wright High School    Pass                               1800

In [172]:
gread_passfail_df =  pd.DataFrame({"Number of Pass-Fail": gread_passfail})
gread_passfail_df

                                             Number of Pass-Fail
school                Reading Score Summary
Bailey High School    Pass                                  4573
                      Fail                                   403
Cabrera High School   Pass                                  1858
Figueroa High School  Pass                                  2710
                      Fail                                   239
Ford High School      Pass                                  2487
                      Fail                                   252
Griffin High School   Pass                                  1468
Hernandez High School Pass                                  4239
                      Fail                                   396
Holden High School    Pass                                   427
Huang High School     Pass                                  2677
                      Fail                                   240
Johnson High School   Pass                                  4383
                      Fail                                   378
Pena High School      Pass                                   962
Rodriguez High School Pass                                  3660
                      Fail                                   339
Shelton High School   Pass                                  1761
Thomas High School    Pass                                  1635
Wilson High School    Pass                                  2283
Wright High School    Pass                                  1800

In [179]:
gstdcnt = gstd_count_per_school_df["name"]
gstdcnt

school
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: name, dtype: int64

In [202]:
percentmath_pass = int(gmath_passfail['Pass']) / gstdcnt * 100
percentread_pass = int(gread_passfail['Pass']) / gstdcnt *100
#overall_percent_pass = sum(percentmath_pass, percentread_pass) / 2

KeyError: 'Pass'

In [187]:
overall_mean = (gmath_mean + gread_mean) / 2
overall_mean

school
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

In [188]:
overall_mean_df = pd.DataFrame({"overall mean score": overall_mean})
overall_mean_df

                       overall mean score
school
Bailey High School              79.041198
Cabrera High School             83.518837
Figueroa High School            78.934893
Ford High School                78.924425
Griffin High School             83.584128
Hernandez High School           79.112082
Holden High School              83.809133
Huang High School               78.906068
Johnson High School             79.019429
Pena High School                83.942308
Rodriguez High School           78.793698
Shelton High School             83.542589
Thomas High School              83.633639
Wilson High School              83.631844
Wright High School              83.818611

In [189]:
sorted_overall_df = overall_mean_df.sort_values("overall mean score", ascending=False)
sorted_overall_df

                       overall mean score
school
Pena High School                83.942308
Wright High School              83.818611
Holden High School              83.809133
Thomas High School              83.633639
Wilson High School              83.631844
Griffin High School             83.584128
Shelton High School             83.542589
Cabrera High School             83.518837
Hernandez High School           79.112082
Bailey High School              79.041198
Johnson High School             79.019429
Figueroa High School            78.934893
Ford High School                78.924425
Huang High School               78.906068
Rodriguez High School           78.793698

In [197]:
# Determine top performing schools (top 5) in the district:
Top_5_school_df = sorted_overall_df.head(5)
Top_5_school_df

                    overall mean score
school
Pena High School             83.942308
Wright High School           83.818611
Holden High School           83.809133
Thomas High School           83.633639
Wilson High School           83.631844

In [198]:
# Determine worst performing schools (bottom 5)in the district:
reverse_sorted_overall_df = overall_mean_df.sort_values("overall mean score", ascending=True)
Bottom_5_school_df = reverse_sorted_overall_df.head(5)
Bottom_5_school_df

                       overall mean score
school
Rodriguez High School           78.793698
Huang High School               78.906068
Ford High School                78.924425
Figueroa High School            78.934893
Johnson High School             79.019429

In [ ]:
merge_Top_5_data = pd.merge(Top_5_school_df, schools_ratings_new_df,on="school" | "name")
merge_Bottom_5_data = pd.merge(Bottom_5_school_df, schools_ratings_new_df,on="school" | "name")